body{
    background-image: url(../../image/infraestrutura-ti.jpg_resized.webp);
    margin: 0%;
}

#titulo{
    color: white;
    font-size: 60px;
    margin-left: 120px;
}

p{
    font-size: 35px;
    margin-left: 120px;
}

a{
    color: white;
    text-decoration: none;
}